exec10330.json
{"id":"10330","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-07-06T00:36:23.012Z","startedAt":"2026-07-06T00:36:23.090Z","stoppedAt":"2026-07-06T00:36:31.083Z","deletedAt":null,"workflowId":"ibCEPsroSZuwWbVI","waitTill":null,"storedAt":"db","tracingContext":null,"deduplicationKey":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"403 - {\"message\":\"\",\"status\":403}","timestamp":1783298191082,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.content.parts[0].text }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},"messages":["403 - {\"message\":\"\",\"status\":403}"],"httpCode":"403","message":"Forbidden - perhaps check your credentials?","stack":"NodeApiError: Forbidden - perhaps check your credentials?\n    at ExecuteContext.linkedInApiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/GenericFunctions.ts:71:9)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/LinkedIn.node.ts:287:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2426:11"},"runData":{"Webhook":[{"startTime":1783298183244,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"api-staging.rogeriomaciel.com.br","x-real-ip":"177.2.116.239","x-forwarded-for":"177.2.116.239","connection":"upgrade","content-length":"363","user-agent":"curl/8.18.0","accept":"*/*","content-type":"application/json"},"params":{},"query":{},"body":{"title":"Por que oficinas mecânicas estão abandonando ERPs tradicionais e migrando para operações via WhatsApp","url":"https://coresites.com.br/post/abandono-erp-migracao-whatsapp","excerpt":"Aprenda por que forçar mecânicos a usar sistemas de gestão complexos é o maior erro da sua oficina, e como o WhatsApp se tornou o novo ERP."},"webhookUrl":"https://api-staging.rogeriomaciel.com.br/app/post-social","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"gemini linkedin post":[{"startTime":1783298183245,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7703,"metadata":{"tokenUsage":{"inputTokens":134,"outputTokens":371}},"executionStatus":"success","data":{"main":[[{"json":{"content":{"parts":[{"text":"Aqui está uma sugestão de post para o LinkedIn:\n\n---\n\n**Sua oficina mecânica está lutando para fazer a equipe usar o ERP? 😫**\n\nMuitos gestores cometem o erro de forçar sistemas de gestão complexos e burocráticos, acreditando que são a única solução para a organização. Mas e se a resposta para a eficiência e produtividade estivesse em uma ferramenta que todos já usam diariamente?\n\nNo nosso novo artigo, desvendamos o porquê de oficinas mecânicas estarem **abandonando ERPs tradicionais** e migrando para operações via WhatsApp. Sim, você leu certo! O aplicativo de mensagens está se tornando o \"novo ERP\" para muitas oficinas, simplificando a comunicação, agendamentos, orçamentos e muito mais.\n\nDescubra:\n*   Por que sistemas complexos desmotivam sua equipe e prejudicam a operação.\n*   Como o WhatsApp pode ser uma ferramenta poderosa para a gestão diária.\n*   Cases reais e o caminho para uma gestão mais leve e eficiente.\n\nChega de sistemas que tomam tempo e causam frustração! Quer entender por que essa mudança está acontecendo e como ela pode revolucionar a gestão da sua oficina?\n\n**Leia o artigo completo e descubra o futuro da gestão automotiva:**\n🔗 [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoAutomotiva #WhatsAppBusiness #TecnologiaAutomotiva #ERPSimplificado #EficiênciaOperacional #InovaçãoAutomotiva #GestãoDeOficinas"}],"role":"model"},"finishReason":"STOP","index":0},"pairedItem":{"item":0}}]]}}],"LinkedIn (Mock)":[{"startTime":1783298190948,"executionIndex":2,"source":[{"previousNode":"gemini linkedin post","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":135,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"403 - {\"message\":\"\",\"status\":403}","timestamp":1783298191082,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.content.parts[0].text }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},"messages":["403 - {\"message\":\"\",\"status\":403}"],"httpCode":"403","message":"Forbidden - perhaps check your credentials?","stack":"NodeApiError: Forbidden - perhaps check your credentials?\n    at ExecuteContext.linkedInApiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/GenericFunctions.ts:71:9)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/LinkedIn.node.ts:287:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2426:11"}}]},"lastNodeExecuted":"LinkedIn (Mock)"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.content.parts[0].text }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},"data":{"main":[[{"json":{"content":{"parts":[{"text":"Aqui está uma sugestão de post para o LinkedIn:\n\n---\n\n**Sua oficina mecânica está lutando para fazer a equipe usar o ERP? 😫**\n\nMuitos gestores cometem o erro de forçar sistemas de gestão complexos e burocráticos, acreditando que são a única solução para a organização. Mas e se a resposta para a eficiência e produtividade estivesse em uma ferramenta que todos já usam diariamente?\n\nNo nosso novo artigo, desvendamos o porquê de oficinas mecânicas estarem **abandonando ERPs tradicionais** e migrando para operações via WhatsApp. Sim, você leu certo! O aplicativo de mensagens está se tornando o \"novo ERP\" para muitas oficinas, simplificando a comunicação, agendamentos, orçamentos e muito mais.\n\nDescubra:\n*   Por que sistemas complexos desmotivam sua equipe e prejudicam a operação.\n*   Como o WhatsApp pode ser uma ferramenta poderosa para a gestão diária.\n*   Cases reais e o caminho para uma gestão mais leve e eficiente.\n\nChega de sistemas que tomam tempo e causam frustração! Quer entender por que essa mudança está acontecendo e como ela pode revolucionar a gestão da sua oficina?\n\n**Leia o artigo completo e descubra o futuro da gestão automotiva:**\n🔗 [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoAutomotiva #WhatsAppBusiness #TecnologiaAutomotiva #ERPSimplificado #EficiênciaOperacional #InovaçãoAutomotiva #GestãoDeOficinas"}],"role":"model"},"finishReason":"STOP","index":0},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"gemini linkedin post","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1783298183012,"source":"webhook","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}},"resumeToken":"3b9b6656e6e0d73491807fffae32293bdb37251d0e8c9e97393e932b972c88e6"},"workflowData":{"id":"ibCEPsroSZuwWbVI","name":"Social Media Auto-Publisher","active":true,"activeVersionId":"9d26cf98-a90e-4dc7-bfd8-f5de1498f26e","isArchived":false,"createdAt":"2026-07-05T22:33:03.527Z","updatedAt":"2026-07-06T00:36:04.728Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"post-social","authentication":"none","responseMode":"lastNode","responseCode":200,"responseData":"firstEntryJson","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[256,304],"webhookId":"social-publish-trigger"},{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.content.parts[0].text }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ 'Crie um post para o LinkedIn promovendo o seguinte artigo do nosso blog.\\n\\nTítulo: ' + $('Webhook').item.json.body.title + '\\nURL: ' + $('Webhook').item.json.body.url + '\\nConteúdo (resumo): ' + $('Webhook').item.json.body.excerpt + '\\n\\nO tom deve ser profissional, convidativo e incluir algumas hashtags relevantes no final. Termine convidando para ler o artigo completo no link.' }}","role":"user"}]},"simplify":true,"jsonOutput":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[640,304],"id":"b06ab7f6-d849-4927-9096-d78e3529756f","name":"gemini linkedin post","credentials":{"googlePalmApi":{"id":"XeGsz9eHLKBUyX6c","name":"Gemini Api Key Rogerio"}}}],"connections":{"Webhook":{"main":[[{"node":"gemini linkedin post","type":"main","index":0}]]},"gemini linkedin post":{"main":[[{"node":"LinkedIn (Mock)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"pinData":{}},"workflowVersionId":"9d26cf98-a90e-4dc7-bfd8-f5de1498f26e","customData":{}}