exec.json
{"id":"10329","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-07-06T00:34:05.107Z","startedAt":"2026-07-06T00:34:05.175Z","stoppedAt":"2026-07-06T00:34:17.084Z","deletedAt":null,"workflowId":"ibCEPsroSZuwWbVI","waitTill":null,"storedAt":"db","tracingContext":null,"deduplicationKey":null,"data":{"version":1,"startData":{},"resultData":{"error":{"message":"Cannot read properties of undefined (reading 'replace')","stack":"TypeError: Cannot read properties of undefined (reading 'replace')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/LinkedIn.node.ts:142:19)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:32)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2426:11"},"runData":{"Webhook":[{"startTime":1783298045341,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"api-staging.rogeriomaciel.com.br","x-real-ip":"177.2.116.239","x-forwarded-for":"177.2.116.239","connection":"upgrade","content-length":"363","user-agent":"curl/8.18.0","accept":"*/*","content-type":"application/json"},"params":{},"query":{},"body":{"title":"Por que oficinas mecânicas estão abandonando ERPs tradicionais e migrando para operações via WhatsApp","url":"https://coresites.com.br/post/abandono-erp-migracao-whatsapp","excerpt":"Aprenda por que forçar mecânicos a usar sistemas de gestão complexos é o maior erro da sua oficina, e como o WhatsApp se tornou o novo ERP."},"webhookUrl":"https://api-staging.rogeriomaciel.com.br/app/post-social","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"gemini linkedin post":[{"startTime":1783298045342,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":11734,"metadata":{"tokenUsage":{"inputTokens":134,"outputTokens":611}},"executionStatus":"success","data":{"main":[[{"json":{"content":{"parts":[{"text":"Aqui está uma sugestão de post para o LinkedIn:\n\n---\n\n**Opção 1 (Mais direta):**\n\nVocê já se perguntou por que, em pleno século XXI, muitas oficinas mecânicas estão *abandonando* sistemas ERP tradicionais e *migrando* para operações via WhatsApp? 💡\n\nÉ uma tendência que merece atenção! Nosso novo artigo desvenda os motivos por trás dessa mudança disruptiva: forçar mecânicos a usar plataformas de gestão complexas pode ser o maior erro da sua oficina.\n\nDescubra como a simplicidade e a acessibilidade do WhatsApp estão se tornando o 'novo ERP', otimizando a comunicação, o agendamento, o acompanhamento de serviços e muito mais, sem a curva de aprendizado íngreme dos softwares tradicionais.\n\nPronto para repensar a gestão da sua oficina e ver como essa mudança pode impactar positivamente o seu negócio?\n\nLeia o artigo completo no link:\n➡️ [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoAutomotiva #ERPs #WhatsAppBusiness #TransformaçãoDigital #Inovação #Produtividade\n\n---\n\n**Opção 2 (Com foco na dor do problema):**\n\nSua oficina mecânica ainda luta para adaptar seus colaboradores a sistemas de gestão complexos, que parecem mais um obstáculo do que uma solução? Você não está sozinho! 🔧\n\nMuitas oficinas estão percebendo que forçar mecânicos a usar sistemas ERP complexos é, na verdade, o maior erro na busca por eficiência. E a solução? Ela pode estar bem na palma da sua mão!\n\nNosso novo artigo explora uma tendência surpreendente e altamente eficaz: a migração de operações de gestão para o WhatsApp. Entenda por que essa ferramenta, que você já usa no dia a dia, está se tornando o \"novo ERP\" para o setor automotivo, simplificando processos e impulsionando resultados.\n\nCurioso para saber como o WhatsApp pode revolucionar a gestão da sua oficina, tornando-a mais ágil, intuitiva e produtiva?\n\nLeia o artigo completo e descubra:\n➡️ [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoDeOficina #ERPs #WhatsAppBusiness #SimplificaçãoDeProcessos #TecnologiaAutomotiva #EficiênciaOperacional\n\n---\n\nAmbas as opções buscam ser profissionais, convidadivas e destacam o cerne do artigo. Escolha a que melhor se alinha com o estilo de comunicação da sua empresa!"}],"role":"model"},"finishReason":"STOP","index":0},"pairedItem":{"item":0}}]]}}],"LinkedIn (Mock)":[{"startTime":1783298057077,"executionIndex":2,"source":[{"previousNode":"gemini linkedin post","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"error","error":{"message":"Cannot read properties of undefined (reading 'replace')","stack":"TypeError: Cannot read properties of undefined (reading 'replace')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/LinkedIn/LinkedIn.node.ts:142:19)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:32)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_ab127feadfe58018bfc172b46ac66b6e/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2426:11"}}]},"lastNodeExecuted":"LinkedIn (Mock)"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.output }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},"data":{"main":[[{"json":{"content":{"parts":[{"text":"Aqui está uma sugestão de post para o LinkedIn:\n\n---\n\n**Opção 1 (Mais direta):**\n\nVocê já se perguntou por que, em pleno século XXI, muitas oficinas mecânicas estão *abandonando* sistemas ERP tradicionais e *migrando* para operações via WhatsApp? 💡\n\nÉ uma tendência que merece atenção! Nosso novo artigo desvenda os motivos por trás dessa mudança disruptiva: forçar mecânicos a usar plataformas de gestão complexas pode ser o maior erro da sua oficina.\n\nDescubra como a simplicidade e a acessibilidade do WhatsApp estão se tornando o 'novo ERP', otimizando a comunicação, o agendamento, o acompanhamento de serviços e muito mais, sem a curva de aprendizado íngreme dos softwares tradicionais.\n\nPronto para repensar a gestão da sua oficina e ver como essa mudança pode impactar positivamente o seu negócio?\n\nLeia o artigo completo no link:\n➡️ [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoAutomotiva #ERPs #WhatsAppBusiness #TransformaçãoDigital #Inovação #Produtividade\n\n---\n\n**Opção 2 (Com foco na dor do problema):**\n\nSua oficina mecânica ainda luta para adaptar seus colaboradores a sistemas de gestão complexos, que parecem mais um obstáculo do que uma solução? Você não está sozinho! 🔧\n\nMuitas oficinas estão percebendo que forçar mecânicos a usar sistemas ERP complexos é, na verdade, o maior erro na busca por eficiência. E a solução? Ela pode estar bem na palma da sua mão!\n\nNosso novo artigo explora uma tendência surpreendente e altamente eficaz: a migração de operações de gestão para o WhatsApp. Entenda por que essa ferramenta, que você já usa no dia a dia, está se tornando o \"novo ERP\" para o setor automotivo, simplificando processos e impulsionando resultados.\n\nCurioso para saber como o WhatsApp pode revolucionar a gestão da sua oficina, tornando-a mais ágil, intuitiva e produtiva?\n\nLeia o artigo completo e descubra:\n➡️ [https://coresites.com.br/post/abandono-erp-migracao-whatsapp](https://coresites.com.br/post/abandono-erp-migracao-whatsapp)\n\n#OficinaMecânica #GestãoDeOficina #ERPs #WhatsAppBusiness #SimplificaçãoDeProcessos #TecnologiaAutomotiva #EficiênciaOperacional\n\n---\n\nAmbas as opções buscam ser profissionais, convidadivas e destacam o cerne do artigo. Escolha a que melhor se alinha com o estilo de comunicação da sua empresa!"}],"role":"model"},"finishReason":"STOP","index":0},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"gemini linkedin post","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1783298045107,"source":"webhook","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}},"resumeToken":"3d73b68b67de01d66fbb42c9396816eb97f6d136e3eb4c9a4ea7233573bb4fa0"},"workflowData":{"id":"ibCEPsroSZuwWbVI","name":"Social Media Auto-Publisher","active":true,"activeVersionId":"15118e8a-0305-4a3a-a064-4e7f975d323d","isArchived":false,"createdAt":"2026-07-05T22:33:03.527Z","updatedAt":"2026-07-06T00:33:49.384Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"post-social","authentication":"none","responseMode":"lastNode","responseCode":200,"responseData":"firstEntryJson","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[256,304],"webhookId":"social-publish-trigger"},{"parameters":{"authentication":"standard","resource":"post","operation":"create","postAs":"person","person":"dfasdfasd","text":"={{ $json.output }}","shareMediaCategory":"NONE","additionalFields":{}},"id":"linkedin-output","name":"LinkedIn (Mock)","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,304],"credentials":{"linkedInOAuth2Api":{"id":"jcNEGkMkE5Lb90uW","name":"LinkedIn account"}}},{"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ 'Crie um post para o LinkedIn promovendo o seguinte artigo do nosso blog.\\n\\nTítulo: ' + $('Webhook').item.json.body.title + '\\nURL: ' + $('Webhook').item.json.body.url + '\\nConteúdo (resumo): ' + $('Webhook').item.json.body.excerpt + '\\n\\nO tom deve ser profissional, convidativo e incluir algumas hashtags relevantes no final. Termine convidando para ler o artigo completo no link.' }}","role":"user"}]},"simplify":true,"jsonOutput":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.2,"position":[640,304],"id":"b06ab7f6-d849-4927-9096-d78e3529756f","name":"gemini linkedin post","credentials":{"googlePalmApi":{"id":"XeGsz9eHLKBUyX6c","name":"Gemini Api Key Rogerio"}}}],"connections":{"Webhook":{"main":[[{"node":"gemini linkedin post","type":"main","index":0}]]},"gemini linkedin post":{"main":[[{"node":"LinkedIn (Mock)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"pinData":{}},"workflowVersionId":"15118e8a-0305-4a3a-a064-4e7f975d323d","customData":{}}